In [1]:
import numpy as np
import pandas as pd
import re
import tashaphyne.arabic_const as arabconst

In [2]:
def removing_http(text):
    pattern=r'(https?:\/\/)(\s)*(www\.)?(\s)*((\w|\s)+\.)*([\w\-\s]+\/)*([\w\-]+)((\?)?[\w\s]*=\s*[\w\%&]*)*'
    clean_text = re.sub(pattern, " ", text)
    return clean_text


def clean(text): 
    pattern=r'\W|\s+'
    clean_text = re.sub(pattern, " ", text, flags=re.UNICODE)
    clean_text = re.sub('\s+', " ", clean_text, flags=re.UNICODE)
    
    return clean_text


def removing_tag(text):
    pattern=r'([@A-Za-z0-9_]+)|r"\(\[\[A-Za-z0-9_]+]*\)"'
    clean_text = re.sub(pattern, " ", text)
    
    return clean_text

In [20]:
def strip_tatweel(text):
    #removing ـــــــ from an arabic word
    return re.sub(r'[%s]' % arabconst.TATWEEL,    '', text)
def strip_tashkeel(text): 
    # removing التشكيل from the data 
    return arabconst.HARAKAT_PAT.sub('', text)

In [4]:


def getData():
    file = open('data/finaloutput.txt', 'r', encoding="utf-8")
    data = file.readlines()
    myDic = []
    for line in data: 
        if line != "\n":
            myDic.append(line.split(','))
                 
    file.close()
    return myDic
theNewDictionary = getData()

In [5]:
print(len(theNewDictionary))

458197

In [6]:
df = (pd.DataFrame(theNewDictionary))
df.shape

(458197, 2)

In [7]:
df.head()

                     0                                                  1
0  1175358310087892992  @Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير...
1  1175416117793349632  @7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2  1175450108898565888                  @KanaanRema مبين من كلامه خليجي\n
3  1175471073770573824       @HAIDER76128900 يسلملي مرورك وروحك الحلوه💐\n
4  1175496913145217024                @hmo2406 وين هل الغيبه اخ محمد 🌸🌺\n

In [8]:
df[1] = df.iloc[:,1].apply(lambda x: removing_http(x))
df[1] = df.iloc[:,1].apply(lambda x: removing_tag(x))
df[1] = df.iloc[:,1].apply(lambda x: clean(x))

In [9]:
df[1] = df.iloc[:,1].apply(lambda x: strip_tatweel(x))
df[1] = df.iloc[:,1].apply(lambda x: strip_tashkeel(x))



df.head()

                     0                                                  1
0  1175358310087892992                           لكن بالنهاية ينتفض يغير
1  1175416117793349632   يعني هذا محسوب على البشر حيونه ووحشيه وتطلبون...
2  1175450108898565888                               مبين من كلامه خليجي
3  1175471073770573824                         يسلملي مرورك وروحك الحلوه
4  1175496913145217024                             وين هل الغيبه اخ محمد

In [ ]:
df.to_csv('data/cleandata.txt', encoding='UTF-8' , header= ['id', 'text'], index=False )

In [17]:
arabconst.DAD

'ض'

In [19]:
arabconst.HARAKAT_PAT

re.compile(r'[ًٌٍَُِّْ]', re.UNICODE)